@media only screen and (max-width: 375px) {
  .carousel-caption p {
    display: none;
  }
}
/* @media only screen and (max-width: 576px) 
  {
     .ready-join-section-text-style{
        text-align: center !important;
     }
      
      
}
@media only screen and (min-width: 577px) and (max-width:776px){
    
      .ready-join-section-text-style{
        text-align: center !important;
      }
} */
@media only screen  and  (max-width:992px){
  .carousel-caption {
    top: 15% !important;
  }
  .carousel-caption > * {
    margin-bottom: 0px;
  }
  .carousel-caption h5 {
    font-size: 1.3rem !important;
  }
  .carousel-caption p {
    font-size: 1rem !important;
  }
  .carousel-caption button {
    font-size: 1rem !important;
  }
}


