:root {
    --bs-black: #090c3c;
    --bs-white: #fff;
    --bs-light-white: #fcfcfc;
    --bs-light-2: #f2f2f2;
    --bs-blue: #0d9d80;
    --bg-dark-green: #0d9d80;
    --bg-features-1:#fff6d6;
    --bg-features-2:#edbcf9;
    --bg-features-3:#ddf5fc;
    --bg-features-1:#dcf5e8;
    --bg-features-1:#784925;
    --bg-features-1:#fbffd4;
    
    --text-white: #fff;
    --text-white: #000;
    --text-light-1: #798081;
    --text-light-2: #5e5e72;
    --text-light-3: #a0a0a0;
    --text-dark-gray: #12c4a0;
    --text-orange: #ff5d20;
    --text-yellow: #ffc100;
    
    --
  }