@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
  /* slider css  */
  /* .carousel-item{
    height: 100vh;
    min-height: 20rem;
    background: no-repeat scroll center scroll;
    background-size: cover;
  }
  .carousel-item{
    height: auto;
  }

  .carousel-item::before{
    height: auto;
    content: "" ;
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    background: #000;
    opacity: 0.7;
  }
  .carousel-caption{
    bottom: 13rem !important;
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
  }
  .carousel-caption h2{
    font-size: 5rem;
    font-weight: bold;
  } */